# Git
.git
.gitignore

# Environment variables
.env
.env.*
!.env.example

# Node.js / Bun
node_modules
npm-debug.log
bun-debug.log

# Docker
Dockerfile
.dockerignore

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Project specific
*.log
dist
build
*.md
!README.md